<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringFirst:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringFirst_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringFirst/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringFirst" />
        </element>
      </element>
    </root>
  </artifact>
</component>